.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
  padding: 10px 20px;
}

.website-logo {
  width: 100px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

button {
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}
