.jobs-container {
  background-color: #000000;
  min-height: 100vh;
  color: #ffffff;
  padding: 20px;
}

.jobs-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-section {
  width: 25%;
  background-color: #272727;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
}

.filter-section h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.jobs-list-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #475569;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.search-bar input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: #ffffff;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.jobs-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-card {
  background-color: #272727;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.job-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-card-header img {
  width: 60px;
  margin-right: 20px;
}

.job-card-title {
  font-size: 20px;
  margin: 0;
}

.job-card-rating {
  color: #fbbf24;
  margin-top: 5px;
}

.job-card-details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: #cbd5e1;
}

.job-card-description {
  margin-top: 15px;
  color: #cbd5e1;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.no-jobs-view {
  text-align: center;
  color: #cbd5e1;
}
