.login-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #272727;
  border-radius: 10px;
  padding: 40px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-logo {
  width: 120px;
  margin-bottom: 30px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-label {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.login-input {
  background-color: transparent;
  border: 1px solid #475569;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
}

.login-button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #6366f1;
}

.error-message {
  color: #ff0b37;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
